<div class="main_container">
  <h3>スケジュール詳細</h3>
 
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @post.start_date %></td>
      </tr>
      <tr>
        <th>投稿日時</th>
        <td><%= @post.created_at.to_s(:datetime_j) %></td>
      </tr>
      <tr>
        <th>終日</th>
        <% if @post.all_day == true %>
           <td>○</td> 
        <% else @post.all_day == false %>
           <td></td> 
        <% end %>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.note %></td>
      </tr>
    </table>
 
    <div>
      <ul>
        <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
      </ul>
    </div>
</div>