<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ruby on Rails スケジュール管理アプリ</h1>
    </header>
    <%= yield %>
    <!--❶この箇所にはコントローラーで実行したアクション名と同じビューのファイルのHTMLが展開されます。
        ❷このbodyタグ内にyieldと入っており、ここに各ページの内容として別途作成されたhtmlファイルの内容を持ってくるわけである。
        （そのためには rails g で作成する app/controllers/アプリ名_controller.rb と config/routes.rb で各ファイルをルーティングしてあげないといけないが）-->
    <footer>
      <h1>現在の日時 : <%= Date.today.strftime('%Y年%m月%d日') %> スケジュール合計 : <%= @posts.ids.count %></h1> <!--idsとは、主キーのカラムデータを取得する-->
    </footer>    
  </body>
</html>


<!--現在の日付の説明 ↓
https://www.javadrive.jp/ruby/date_class/index5.html
-->